<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>Barcode KANOJO: Timeline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
  
    <style type="text/css">
#container {
/*  width: 320px;
  border: 1px solid #999999;*/
}
    </style>
  
    <script type="text/javascript">//<![CDATA[
function create_activity_box(activity) {
  var activities_box = document.createElement('div'),
      l_activities_box,
      c_activities_box,
      r_activities_box=undefined,
      tmp_el, tmp_el2;

  activities_box.className = 'activities_box';
  activities_box.setAttribute('id', 'activity'+activity.id);

  // left
  l_activities_box = document.createElement('div');
  l_activities_box.className = 'l_activities_box';
  tmp_el = document.createElement('a');
  tmp_el2 = document.createElement('img');
  tmp_el2.className = 'icon';
  tmp_el2.setAttribute('height', 50);
  tmp_el2.setAttribute('width', 50);
  tmp_el.appendChild(tmp_el2);
  l_activities_box.appendChild(tmp_el);
  if (activity.activity_type == 2) {
    tmp_el.setAttribute('href', activity.kanojo_url);
    tmp_el2.setAttribute('src', activity.kanojo.profile_image_url);
  } else {
    tmp_el.setAttribute('href', activity.user_url);
    tmp_el2.setAttribute('src', activity.user.profile_image_url);
  }

  // right
  if ([5, 8, 102].indexOf(activity.activity_type) > -1) {
    r_activities_box = document.createElement('div');
    r_activities_box.className = 'r_activities_box';
    tmp_el = document.createElement('a');
    tmp_el2 = document.createElement('img');
    tmp_el2.className = 'icon';
    tmp_el2.setAttribute('height', 50);
    tmp_el2.setAttribute('width', 50);
    tmp_el.appendChild(tmp_el2);
    r_activities_box.appendChild(tmp_el);
    tmp_el.setAttribute('href', activity.kanojo_url);
    tmp_el2.setAttribute('src', activity.kanojo.profile_image_url);
  } else if ([103].indexOf(activity.activity_type) > -1) {
    r_activities_box = document.createElement('div');
    r_activities_box.className = 'r_activities_box';
    tmp_el = document.createElement('a');
    tmp_el2 = document.createElement('img');
    tmp_el2.className = 'icon';
    tmp_el2.setAttribute('height', 50);
    tmp_el2.setAttribute('width', 50);
    tmp_el.appendChild(tmp_el2);
    r_activities_box.appendChild(tmp_el);
    tmp_el.setAttribute('href', activity.other_user_url);
    tmp_el2.setAttribute('src', activity.other_user.profile_image_url);
  }

  // center
  c_activities_box = document.createElement('div');
  c_activities_box.className = 'c_activities_box';
  tmp_el = document.createElement('span');
  tmp_el.setAttribute('html', true);
  tmp_el.innerHTML = activity.activity;
  c_activities_box.appendChild(tmp_el);
  tmp_el = document.createElement('br');
  c_activities_box.appendChild(tmp_el);
  tmp_el = document.createElement('span');
  tmp_el.setAttribute('id', 'activity'+activity.id+'_time');
  tmp_el.setAttribute('value', activity.created_timestamp);
  //tmp_el.innerHTML = '@ 7 mins ago';
  c_activities_box.appendChild(tmp_el);

  activities_box.appendChild(l_activities_box);
  if (r_activities_box) {
    activities_box.appendChild(r_activities_box);
  }
  activities_box.appendChild(c_activities_box);
  return activities_box;
};

var since_id = 0;

function worker() {
    ajax.get('/last_activity.json', {'since_id': since_id}, function(response) {
        data = JSON.parse(response);
        console.log(data, since_id);
        if (data.code == 200) {
            var arr = Array(),
                activities_box, i,
                container = document.getElementById("container");
            for (i=(data.activities.length-1); i>=0; i--) {
                //since_id = Math.max(data.activities[i].id, since_id);
                activities_box = create_activity_box(data.activities[i]);
                //arr.splice(0, 0, activities_box);
                arr.push(activities_box);
            }
            for (i=0; i<arr.length; i++) {
                if (container.firstChild) {
                    container.insertBefore(arr[i], container.firstChild);
                } else {
                    container.appendChild(arr[i]);
                }
            }
            if (data.last_id) {
              since_id = data.last_id;
            }
        }
        update_time(container.getElementsByClassName('activities_box'));
    });

    window.setTimeout(worker, 60 * 1000);
}

window.onload = function() {
    worker();
}
//]]>  
    </script>
  </head>
  <body>
    <h1 class="corner_name" id="corner_name">Latest Activities</h1>
    <div id="container">
    </div>
  </body>
</html>